
	<section id="contact" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="ser-title">Contáctanos</h2>
					<hr class="botm-line">
				</div>
				<div class="col-md-4 col-sm-4">
			      <h3>Información de contacto</h3>
			      <div class="space"></div>
			      <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>666 La Marina<br>
			        San Miguel, Lima 32</p>
			      <div class="space"></div>
			      <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>info@saludcerca.com</p>
			      <div class="space"></div>
			      <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>01 555 5555</p>
			    </div>
				<div class="col-md-8 col-sm-8 marb20">
					<div class="contact-info">
							<h3 class="cnt-ttl">¡Tenga cualquier consulta! O bien Reserve una cita</h3>
							<div class="space"></div>
                            <%= form_tag :action => 'contact_us' do %>
					        <% if flash[:notice] %>
                                <div class="alert alert-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    <%= flash[:notice] %>
                                </div>
                            <% end %>
                               <div class="form-group">
                                    <%= text_field :contactos, :nombre, class:"form-control br-radius-zero", placeholder:"Tu Nombre"%>
                                    <div class="validation"></div>
                                </div>
                               <div class="form-group">
                                    <%= email_field :contactos, :correo, class:"form-control br-radius-zero", placeholder:"Tu Correo"%>
                                </div>
                               <div class="form-group">
                                    <%= text_field :contactos, :asunto, class:"form-control br-radius-zero", placeholder:"Asunto"%>
                                </div>
                               <div class="form-group">
                                    <%= text_area :contactos, :mensaje, class:"form-control br-radius-zero", rows:"5", placeholder:"Mensaje"%>
                                </div>                               
								<%= submit_tag 'Enviar Mensaje', class:"btn btn-form"%>
							<% end %>
					</div>
				</div>
			</div>
		</div>
  </section>

